<div class="posts">
{% assign posts=site.posts | where: "lang", page.lang | where:"type", "posts" %}

  {% for post in posts limit: 8 %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }} - <font size="3"><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.title }}">0 Comments</a></font>
    </span>
    {{ post.excerpt }}
    {% if post.content contains site.excerpt_separator %}
          <a href="{{ post.url }}">{{ site.trans[page.lang].seguiu }}</a>
      {% endif %}
  </div>
  {% endfor %}
</div> 

<p>
{% if page.lang == "ca" %}<b>Si vols seguir llegint entrades d'aquest blog, entra a l'<a href="{{ site.baseurl }}arxiu">arxiu</a> i sel·lecciona les entrades desitjades.</b>{% endif %}
{% if page.lang == "en" %}<b>If you want to keep reading posts on this blog, please go to the <a href="{{ site.baseurl }}en/archive">archive</a> and select your preferred posts.</b>{% endif %}

