<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

{% assign posts=site.posts | where:"name", page.name | sort: 'path' %} 

{% for post in posts %}
   <a href="{{ post.url }}" {% if page.lang == post.lang %} class="{{ post.lang }} active {% endif %}">{{ post.lang }}</a>
{% endfor %}
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.trans[page.lang].desc }}</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.name == "index.html" %} active{% endif %}" href="{{ site.baseurl }}{% if page.lang == "en" %}en{% endif %}">{{ site.trans[page.lang].home }}</a>

      <a class="sidebar-nav-item{% if page.name == "arxiu" %} active{% endif %}" href="{{ site.baseurl }}{% if page.lang == "en" %}en/archive{% endif %}{% if page.lang == "ca" %}arxiu{% endif %}">{{ site.trans[page.lang].arxiu }}</a>

      <a class="sidebar-nav-item{% if page.name == "about" %} active{% endif %}" href="{{ site.baseurl }}{% if page.lang == "en" %}en/about{% endif %}{% if page.lang == "ca" %}sobremi{% endif %}">{{ site.trans[page.lang].about }}</a>

      <a href="mailto:{{ site.author.email }}">{{ site.trans[page.lang].cont }}</a>      
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">{{ site.trans[page.lang].ghpro }}</a>
      <br>
      <a href="{{ site.baseurl }}feed_{{ page.lang }}.xml" target="_blank"><img src="/images/rss_icon.png" alt="RSS"></a>
      <span class="sidebar-nav-item">Estudi d'interiorisme i decoració</span>
      <a class="sidebar-nav-item" href="http://demarcasueca.com/" target="_blank">De Marca Sueca</a>
    </nav>

  </div>
</div>
