<div class="sidebarright">


<center><a href="http://www.diccionari.cat" target="_blank"><img src="/images/diccat.jpg" alt="Diccionari.cat"></a></center>
<center><a href="http://aplicacions.llengua.gencat.cat/llc/AppJava/index.html" target="_blank"><img src="/images/optimot.jpeg" alt="Optimot, consultes lingüístiques"></a></center><br>
<center><a href="http://www.vxl.cat/que-es-el-vxl" target="_blank"><img src="/images/vxl.jpg" title="Voluntariat per la llengua. Necessitem voluntaris, apunta-t'hi!!"></a></center> 

</div>
