<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

{% assign posts=site.posts | where:"name", page.name | sort: 'path' %} 
{% for post in posts %}
   <a href="{{ post.url }}" {% if page.lang == post.lang %} class="{{ post.lang }} active {% endif %}">{{ post.lang }}</a>
{% endfor %}
<br><br>
      <h9>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h9><br>
<h8><b>Un món <i>geek</i> en català</b></h8>
<br><br><br><br><br>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.name == "index.html" %} active{% endif %}" href="{{ site.baseurl }}{% if page.lang == "en" %}en{% endif %}">{{ site.trans[page.lang].home }}</a>

      <a class="sidebar-nav-item{% if page.name == "arxiu" %} active{% endif %}" href="{{ site.baseurl }}{% if page.lang == "en" %}en/archive{% endif %}{% if page.lang == "ca" %}arxiu{% endif %}">{{ site.trans[page.lang].arxiu }}</a>

      <a class="sidebar-nav-item{% if page.name == "about" %} active{% endif %}" href="{{ site.baseurl }}{% if page.lang == "en" %}en/about{% endif %}{% if page.lang == "ca" %}sobremi{% endif %}">{{ site.trans[page.lang].about }}</a>

      <a href="mailto:{{ site.author.email }}">{{ site.trans[page.lang].cont }}</a>      
      <a class="sidebar-nav-item" href="{{ site.github.repo }}" target="_blank">{{ site.trans[page.lang].ghpro }}</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}{% if page.lang == "en" %}en/tachometerHD{% endif %}{% if page.lang == "ca" %}tachometerHD{% endif %}">{{ site.trans[page.lang].tachoHD }}</a>

      <br>

      <a href="{{ site.baseurl }}blog{% if page.lang == "en" %}_en{% endif %}1.xml" target="_blank"><img src="/images/rss_icon.png" alt="RSS"></a>

<span class="sidebar-nav-item">{{ site.trans[page.lang].search }}</span>
<!-- my custom google search -->
<form onsubmit="my_search_google()" >
  <input type="text" id="my-google-search">
</form>
    </nav>

  </div>
</div>
