<!DOCTYPE html>
{% if page.lang %}
<html lang="{{ page.lang }}">
{% else %}
<html>
{% endif %}
  {% include google_analytics.html %}
  {% include head.html %}

  <body>
    {% include sidebar.html %}

    <div class="content container">

         <div class="page">
            {% if page.type == "pages" %} <h1 class="page-title">{{ page.title }}</h1> {% endif %}
            {{ content }}
        </div>
<footer id="footer" class="inner">{% include footer.html %}</footer>

    </div>

  </body>
</html>
