---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} - <font size="3"><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.title }}">0 Comments</a></font></span>
  {{ content }}
</div>

<font size="3"><b>keywords:</b> {{ page.keywords }}</font>

{% assign cat = page.category %}
<div class="related">
  <h2>{{ site.trans[page.lang].related }}: {{ cat }}</h2>
  <ul class="related-posts">
    {% for post in site.categories[cat] limit:4 | where:"type", "posts" %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% include comments.html %}
