---
layout: default
---
{% if page.lang == "en" %}<a href="{{ site.baseurl }}{% if page.lang == "en" %}en{% endif %}"><font size="2">en</font></a> &#8594; {% endif %}
{% if page.lang == "ca" %}<a href="{{ site.baseurl }}"><font size="2">ca</font></a> &#8594; {% endif %}
<a href="{{ site.baseurl }}{% if page.lang == "en" %}en{% endif %}"><font size="2">Home </font></a>&#8594; 
{% if page.category == "tacho" %}<a href="{{ site.baseurl }}tachometerHD"><font size="2">tachometerHD</font></a> &#8594; {% endif %}
{% if page.category == "ENtacho" %}<a href="{{ site.baseurl }}{% if page.lang == "en" %}en{% endif %}/tachometerHD"><font size="2">tachometerHD</font></a> &#8594; {% endif %}
<font size="2">{{ page.url | remove: '/en/' | remove:'/' }}</font>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} - <font size="3"><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.title }}">0 Comments</a></font></span>
  {{ content }}
</div>

<font size="3"><b>keywords:</b> {{ page.keywords }}</font>

{% assign cat = page.category %}
<div class="related">
  <h2>{{ site.trans[page.lang].related }}: {{ cat }}</h2>
  <ul class="related-posts">
    {% for post in site.categories[cat] limit:4 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% include comments.html %}
